APP_ENV=dev
APP_SECRET=change_me_to_a_random_32char_string

# Base de données principale
# Exemple MySQL local XAMPP / phpMyAdmin
DATABASE_URL="mysql://root:@127.0.0.1:3306/eventflow?serverVersion=8.0&charset=utf8mb4"

# JWT
# Générer les fichiers dans backend/config/jwt/
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
JWT_TTL=3600

# CORS
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
